In [1]:
pip install datascience

Collecting datascience
  Downloading datascience-0.17.5.tar.gz (727 kB)
     |████████████████████████████████| 727 kB 616 kB/s eta 0:00:01
Collecting folium>=0.9.1
  Downloading folium-0.12.1.post1-py2.py3-none-any.whl (95 kB)
     |████████████████████████████████| 95 kB 814 kB/s eta 0:00:01
Requirement already satisfied: setuptools in ./anaconda3/lib/python3.9/site-packages (from datascience) (61.2.0)
Requirement already satisfied: matplotlib>=3.0.0 in ./anaconda3/lib/python3.9/site-packages (from datascience) (3.5.1)
Requirement already satisfied: pandas in ./anaconda3/lib/python3.9/site-packages (from datascience) (1.4.2)
Requirement already satisfied: scipy in ./anaconda3/lib/python3.9/site-packages (from datascience) (1.7.3)
Requirement already satisfied: numpy in ./anaconda3/lib/python3.9/site-packages (from datascience) (1.21.5)
Requirement already satisfied: ipython in ./anaconda3/lib/python3.9/site-packages (from datascience) (8.2.0)
Requirement already satisfied: plotly in ./anaconda3/lib/python3.9/site-packages (from datascience) (5.6.0)
Collecting branca
  Downloading branca-0.5.0-py3-none-any.whl (24 kB)
Requirement already satisfied: requests in ./anaconda3/lib/python3.9/site-packages (from folium>=0.9.1->datascience) (2.27.1)
Requirement already satisfied: jinja2>=2.9 in ./anaconda3/lib/python3.9/site-packages (from folium>=0.9.1->datascience) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in ./anaconda3/lib/python3.9/site-packages (from jinja2>=2.9->folium>=0.9.1->datascience) (2.0.1)
Requirement already satisfied: fonttools>=4.22.0 in ./anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->datascience) (4.25.0)
Requirement already satisfied: cycler>=0.10 in ./anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->datascience) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in ./anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->datascience) (9.0.1)
Requirement already satisfied: packaging>=20.0 in ./anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->datascience) (21.3)
Requirement already satisfied: kiwisolver>=1.0.1 in ./anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->datascience) (1.3.2)
Requirement already satisfied: pyparsing>=2.2.1 in ./anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->datascience) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7 in ./anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->datascience) (2.8.2)
Requirement already satisfied: six>=1.5 in ./anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->datascience) (1.16.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in ./anaconda3/lib/python3.9/site-packages (from ipython->datascience) (3.0.20)
Requirement already satisfied: pygments>=2.4.0 in ./anaconda3/lib/python3.9/site-packages (from ipython->datascience) (2.11.2)
Requirement already satisfied: backcall in ./anaconda3/lib/python3.9/site-packages (from ipython->datascience) (0.2.0)
Requirement already satisfied: stack-data in ./anaconda3/lib/python3.9/site-packages (from ipython->datascience) (0.2.0)
Requirement already satisfied: matplotlib-inline in ./anaconda3/lib/python3.9/site-packages (from ipython->datascience) (0.1.2)
Requirement already satisfied: pexpect>4.3 in ./anaconda3/lib/python3.9/site-packages (from ipython->datascience) (4.8.0)
Requirement already satisfied: jedi>=0.16 in ./anaconda3/lib/python3.9/site-packages (from ipython->datascience) (0.18.1)
Requirement already satisfied: decorator in ./anaconda3/lib/python3.9/site-packages (from ipython->datascience) (5.1.1)
Requirement already satisfied: traitlets>=5 in ./anaconda3/lib/python3.9/site-packages (from ipython->datascience) (5.1.1)
Requirement already satisfied: pickleshare in ./anaconda3/lib/python3.9/site-packages (from ipython->datascience) (0.7.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in ./anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython->datascience) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in ./anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython->datascience) (0.7.0)
Requirement already satisfied: wcwidth in ./anaconda3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->datascience) (0.2.5)
Requirement already satisfied: pytz>=2020.1 in ./anaconda3/lib/python3.9/site-packages (from pandas->datascience) (2021.3)
Requirement already satisfied: tenacity>=6.2.0 in ./anaconda3/lib/python3.9/site-packages (from plotly->datascience) (8.0.1)
Requirement already satisfied: certifi>=2017.4.17 in ./anaconda3/lib/python3.9/site-packages (from requests->folium>=0.9.1->datascience) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in ./anaconda3/lib/python3.9/site-packages (from requests->folium>=0.9.1->datascience) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in ./anaconda3/lib/python3.9/site-packages (from requests->folium>=0.9.1->datascience) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./anaconda3/lib/python3.9/site-packages (from requests->folium>=0.9.1->datascience) (1.26.9)
Requirement already satisfied: executing in ./anaconda3/lib/python3.9/site-packages (from stack-data->ipython->datascience) (0.8.3)
Requirement already satisfied: asttokens in ./anaconda3/lib/python3.9/site-packages (from stack-data->ipython->datascience) (2.0.5)
Requirement already satisfied: pure-eval in ./anaconda3/lib/python3.9/site-packages (from stack-data->ipython->datascience) (0.2.2)
Building wheels for collected packages: datascience
  Building wheel for datascience (setup.py) ... done
  Created wheel for datascience: filename=datascience-0.17.5-py3-none-any.whl size=732546 sha256=69e03ea46535d611b20ee32a1d7f1d9ff9ef3ebb7e46c8641cdd2fe85c7d9027
  Stored in directory: /home/nieece/.cache/pip/wheels/74/0a/88/e52ce8c2533663326372f4be6eba170267fb70dc6252234186
Successfully built datascience
Installing collected packages: branca, folium, datascience
Successfully installed branca-0.5.0 datascience-0.17.5 folium-0.12.1.post1
Note: you may need to restart the kernel to use updated packages.

In [2]:
!pip install datascience

Requirement already satisfied: datascience in ./anaconda3/lib/python3.9/site-packages (0.17.5)
Requirement already satisfied: pandas in ./anaconda3/lib/python3.9/site-packages (from datascience) (1.4.2)
Requirement already satisfied: plotly in ./anaconda3/lib/python3.9/site-packages (from datascience) (5.6.0)
Requirement already satisfied: ipython in ./anaconda3/lib/python3.9/site-packages (from datascience) (8.2.0)
Requirement already satisfied: matplotlib>=3.0.0 in ./anaconda3/lib/python3.9/site-packages (from datascience) (3.5.1)
Requirement already satisfied: branca in ./anaconda3/lib/python3.9/site-packages (from datascience) (0.5.0)
Requirement already satisfied: scipy in ./anaconda3/lib/python3.9/site-packages (from datascience) (1.7.3)
Requirement already satisfied: setuptools in ./anaconda3/lib/python3.9/site-packages (from datascience) (61.2.0)
Requirement already satisfied: numpy in ./anaconda3/lib/python3.9/site-packages (from datascience) (1.21.5)
Requirement already satisfied: folium>=0.9.1 in ./anaconda3/lib/python3.9/site-packages (from datascience) (0.12.1.post1)
Requirement already satisfied: requests in ./anaconda3/lib/python3.9/site-packages (from folium>=0.9.1->datascience) (2.27.1)
Requirement already satisfied: jinja2>=2.9 in ./anaconda3/lib/python3.9/site-packages (from folium>=0.9.1->datascience) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in ./anaconda3/lib/python3.9/site-packages (from jinja2>=2.9->folium>=0.9.1->datascience) (2.0.1)
Requirement already satisfied: python-dateutil>=2.7 in ./anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->datascience) (2.8.2)
Requirement already satisfied: packaging>=20.0 in ./anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->datascience) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in ./anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->datascience) (4.25.0)
Requirement already satisfied: pillow>=6.2.0 in ./anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->datascience) (9.0.1)
Requirement already satisfied: cycler>=0.10 in ./anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->datascience) (0.11.0)
Requirement already satisfied: pyparsing>=2.2.1 in ./anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->datascience) (3.0.4)
Requirement already satisfied: kiwisolver>=1.0.1 in ./anaconda3/lib/python3.9/site-packages (from matplotlib>=3.0.0->datascience) (1.3.2)
Requirement already satisfied: six>=1.5 in ./anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->datascience) (1.16.0)
Requirement already satisfied: pickleshare in ./anaconda3/lib/python3.9/site-packages (from ipython->datascience) (0.7.5)
Requirement already satisfied: pexpect>4.3 in ./anaconda3/lib/python3.9/site-packages (from ipython->datascience) (4.8.0)
Requirement already satisfied: decorator in ./anaconda3/lib/python3.9/site-packages (from ipython->datascience) (5.1.1)
Requirement already satisfied: backcall in ./anaconda3/lib/python3.9/site-packages (from ipython->datascience) (0.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in ./anaconda3/lib/python3.9/site-packages (from ipython->datascience) (3.0.20)
Requirement already satisfied: matplotlib-inline in ./anaconda3/lib/python3.9/site-packages (from ipython->datascience) (0.1.2)
Requirement already satisfied: traitlets>=5 in ./anaconda3/lib/python3.9/site-packages (from ipython->datascience) (5.1.1)
Requirement already satisfied: pygments>=2.4.0 in ./anaconda3/lib/python3.9/site-packages (from ipython->datascience) (2.11.2)
Requirement already satisfied: stack-data in ./anaconda3/lib/python3.9/site-packages (from ipython->datascience) (0.2.0)
Requirement already satisfied: jedi>=0.16 in ./anaconda3/lib/python3.9/site-packages (from ipython->datascience) (0.18.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in ./anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython->datascience) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in ./anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython->datascience) (0.7.0)
Requirement already satisfied: wcwidth in ./anaconda3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->datascience) (0.2.5)
Requirement already satisfied: pytz>=2020.1 in ./anaconda3/lib/python3.9/site-packages (from pandas->datascience) (2021.3)
Requirement already satisfied: tenacity>=6.2.0 in ./anaconda3/lib/python3.9/site-packages (from plotly->datascience) (8.0.1)
Requirement already satisfied: idna<4,>=2.5 in ./anaconda3/lib/python3.9/site-packages (from requests->folium>=0.9.1->datascience) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in ./anaconda3/lib/python3.9/site-packages (from requests->folium>=0.9.1->datascience) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in ./anaconda3/lib/python3.9/site-packages (from requests->folium>=0.9.1->datascience) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in ./anaconda3/lib/python3.9/site-packages (from requests->folium>=0.9.1->datascience) (2021.10.8)
Requirement already satisfied: pure-eval in ./anaconda3/lib/python3.9/site-packages (from stack-data->ipython->datascience) (0.2.2)
Requirement already satisfied: executing in ./anaconda3/lib/python3.9/site-packages (from stack-data->ipython->datascience) (0.8.3)
Requirement already satisfied: asttokens in ./anaconda3/lib/python3.9/site-packages (from stack-data->ipython->datascience) (2.0.5)

In [3]:
import pandas as pd
from scipy.io.arff import loadarff
from datascience import *
import numpy as np

In [6]:
raw_data=loadarff('/home/nieece/Downloads/weather.numeric.arff')
df_data=pd.DataFrame(raw_data[0])

In [7]:
df_data

        outlook  temperature  humidity     windy    play
0      b'sunny'         85.0      85.0  b'FALSE'   b'no'
1      b'sunny'         80.0      90.0   b'TRUE'   b'no'
2   b'overcast'         83.0      86.0  b'FALSE'  b'yes'
3      b'rainy'         70.0      96.0  b'FALSE'  b'yes'
4      b'rainy'         68.0      80.0  b'FALSE'  b'yes'
5      b'rainy'         65.0      70.0   b'TRUE'   b'no'
6   b'overcast'         64.0      65.0   b'TRUE'  b'yes'
7      b'sunny'         72.0      95.0  b'FALSE'   b'no'
8      b'sunny'         69.0      70.0  b'FALSE'  b'yes'
9      b'rainy'         75.0      80.0  b'FALSE'  b'yes'
10     b'sunny'         75.0      70.0   b'TRUE'  b'yes'
11  b'overcast'         72.0      90.0   b'TRUE'  b'yes'
12  b'overcast'         81.0      75.0  b'FALSE'  b'yes'
13     b'rainy'         71.0      91.0   b'TRUE'   b'no'

In [8]:
from sklearn.preprocessing import LabelEncoder

LE=LabelEncoder()
df_data['outlook_n']=LE.fit_transform(df_data['outlook'])
df_data['windy_n']=LE.fit_transform(df_data['windy'])
df_data['play_n']=LE.fit_transform(df_data['play'])
print(df_data)

        outlook  temperature  humidity     windy    play  outlook_n  windy_n  \
0      b'sunny'         85.0      85.0  b'FALSE'   b'no'          2        0
1      b'sunny'         80.0      90.0   b'TRUE'   b'no'          2        1
2   b'overcast'         83.0      86.0  b'FALSE'  b'yes'          0        0
3      b'rainy'         70.0      96.0  b'FALSE'  b'yes'          1        0
4      b'rainy'         68.0      80.0  b'FALSE'  b'yes'          1        0
5      b'rainy'         65.0      70.0   b'TRUE'   b'no'          1        1
6   b'overcast'         64.0      65.0   b'TRUE'  b'yes'          0        1
7      b'sunny'         72.0      95.0  b'FALSE'   b'no'          2        0
8      b'sunny'         69.0      70.0  b'FALSE'  b'yes'          2        0
9      b'rainy'         75.0      80.0  b'FALSE'  b'yes'          1        0
10     b'sunny'         75.0      70.0   b'TRUE'  b'yes'          2        1
11  b'overcast'         72.0      90.0   b'TRUE'  b'yes'          0        1
12  b'overcast'         81.0      75.0  b'FALSE'  b'yes'          0        0
13     b'rainy'         71.0      91.0   b'TRUE'   b'no'          1        1

    play_n
0        0
1        0
2        1
3        1
4        1
5        0
6        1
7        0
8        1
9        1
10       1
11       1
12       1
13       0

In [9]:
df_update=df_data.drop(columns=['outlook','windy','play'])
print(df_update)

    temperature  humidity  outlook_n  windy_n  play_n
0          85.0      85.0          2        0       0
1          80.0      90.0          2        1       0
2          83.0      86.0          0        0       1
3          70.0      96.0          1        0       1
4          68.0      80.0          1        0       1
5          65.0      70.0          1        1       0
6          64.0      65.0          0        1       1
7          72.0      95.0          2        0       0
8          69.0      70.0          2        0       1
9          75.0      80.0          1        0       1
10         75.0      70.0          2        1       1
11         72.0      90.0          0        1       1
12         81.0      75.0          0        0       1
13         71.0      91.0          1        1       0

In [40]:
def distance_between_points(pt1,pt2):
    """return the distance between two points"""
    return (np.sqrt(sum((pt1-pt2)**2)))

def distance_between_rows(row1,row2):
    """return the distance between two numerical rows of a table"""
    return distance_between_points(np.array(row1,dtype=float),np.array(row2,dtype=float))

In [41]:
def distances(training,example):
    """Compute a table with the dataset and distances to the example for each row in the training set"""
    dists=[]
    attributes=training.drop('play_n')
    for row in attributes.rows:
        dist=distance_between_rows(row,example)
        dists.append(dist)
    return training.with_column('Distance',dists)

In [42]:
def closest(training,example,k):
    """1.make a separate table for distance between example row amd all other rows
       2.sort in ascending
       3.take first 5(closest distance between example row and all other rows)
       return a table of k closest neighbors to example"""
    return distances(training,example).sort('Distance').take(np.arange(k))

In [43]:
#consider 1 row
Dataset=Table.from_df(df_update)

In [44]:
#test between two rows
attributes=Dataset.drop('play_n')
attributes.show(3)

In [45]:
#distance between 2rows
distance_between_rows(attributes.row(0),attributes.row(4))

17.748239349298849

In [46]:
example=Dataset.drop('play_n').row(4)
example

Row(temperature=68.0, humidity=80.0, outlook_n=1, windy_n=0)

In [47]:
Dataset

temperature | humidity | outlook_n | windy_n | play_n
85          | 85       | 2         | 0       | 0
80          | 90       | 2         | 1       | 0
83          | 86       | 0         | 0       | 1
70          | 96       | 1         | 0       | 1
68          | 80       | 1         | 0       | 1
65          | 70       | 1         | 1       | 0
64          | 65       | 0         | 1       | 1
72          | 95       | 2         | 0       | 0
69          | 70       | 2         | 0       | 1
75          | 80       | 1         | 0       | 1
... (4 rows omitted)

In [49]:
closest(Dataset.exclude(4),example,5)

temperature | humidity | outlook_n | windy_n | play_n | Distance
75          | 80       | 1         | 0       | 1      | 7
69          | 70       | 2         | 0       | 1      | 10.0995
65          | 70       | 1         | 1       | 0      | 10.4881
72          | 90       | 0         | 1       | 1      | 10.8628
71          | 91       | 1         | 1       | 0      | 11.4455

In [48]:
def majority_class(neighbors):
    return neighbors.group('play_n').sort('count',descending=True).column('play_n').item(0)

In [51]:
def classify(training,example,k):
    nearest_neighbors=closest(training,example,k)
    return majority_class(nearest_neighbors)

In [52]:
example

Row(temperature=68.0, humidity=80.0, outlook_n=1, windy_n=0)

In [53]:
Prediction=classify(Dataset.exclude(4),example,5)

In [54]:
Prediction

1